<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Account List</title>
<link rel="stylesheet"
       href="../../../resources/app/css/styles.css"
       th:href="@{/resources/app/css/styles.css}">
</head>
<body>
  <h1>Account List</h1>
  
  <div>
    <form
      th:action="@{/logout}"
      method="post">
      <button type="submit">Logout</button>
    </form>
  </div>

  <div>
    <form
      th:action="@{/account/create}"
      method="post"
      th:object="${accountForm}">
      <input type="text" th:field="*{name}" />
      <input type="password" th:field="*{password}" />
      <button type="submit">Create Account</button>
    </form>
  </div>
  <hr />
  <div>
    <ul>
      <li>
        <span>アカウント名</span>
        <form>
          <button type="submit">Delete</button>
        </form>
      </li>
    </ul>
  </div>
</body>
</html>