<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Account List</title>
<link rel="stylesheet"
       href="../../../resources/app/css/styles.css"
       th:href="@{/resources/app/css/styles.css}">
</head>
<body>
  <h1>Account List</h1>
  
  <div>
    <form
      th:action="@{/logout}"
      method="post">
      <button type="submit">Logout</button>
    </form>
    <div sec:authorize-url="/todo/list">
      <a th:href="@{/todo/list}">todo</a>
    </div>
  </div>

  <div>
    <form
      th:action="@{/account/create}"
      method="post"
      th:object="${accountForm}">
      アカウント名：<input type="text" th:field="*{name}" /><br/>
      パスワード：<input type="password" th:field="*{password}" /><br/>
      権限(TODO)：<input type="checkbox" th:field="*{authorities}" th:value="todo" /><br/>
      権限(アカウント)：<input type="checkbox" th:field="*{authorities}" th:value="account" /><br/>
      <button type="submit">Create Account</button>
    </form>
  </div>
  <hr />
  <div>
    <ul>
      <li>
        <span>アカウント名</span>
        <form>
          <button type="submit">Delete</button>
        </form>
      </li>
    </ul>
  </div>
</body>
</html>